<table>
    <tbody>
        <tr>
            <td>
                <h3>App id</h3>
            </td>
            <td>
                <%= current_user.id %>
            </td>
        </tr>
        <tr>
            <td>
                <h3>API key</h3>
            </td>
            <td>
                <%= current_user.api_key %>
            </td>
        </tr>
    </tbody>
</table>