<ul>
    <li>
        <%= link_to "Profile", user_path(current_user) %>
    </li>
    <li>
        <%= link_to "Messages", messages_path %>
    </li>
    <li>
        <%= link_to "Webhooks", webhooks_path %>
    <li>
        <%= link_to "Log out", destroy_user_session_path %>
    </li>
</ul>